*
!.gitignore
!postgres_data/
!chroma_data/
!neo4j_data/
!core_rag_graph_data/
!ollama_data/

postgres_data/*
chroma_data/*
neo4j_data/*
ollama_data/*
core_rag_graph_data/*

!postgres_data/.gitkeep
!chroma_data/.gitkeep
!neo4j_data/.gitkeep
!neo4j_data/logs/
!neo4j_data/logs/.gitkeep
!ollama_data/.gitkeep
!core_rag_graph_data/.gitkeep
